.content {
  display: flex !important;
  flex-direction: column;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.number {
  margin-right: 1rem;
}

.name {
  flex: 1;
  font-weight: 500;
}

.score-number {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}